html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* header section */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../images/glasses-bg.png');
  height: 31rem;
  background-size: cover;
  align-items: center;
}
.menu {
  display: flex;
  margin-top: 1rem;
  background-color: cadetblue;
  width: 960px;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.logo {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}
nav span {
  margin-right: 2rem;
}
.banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10rem;
  width: 960px;
  padding-left: 4rem;
}
.banner span {
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* services section */
.services {
  padding: 3rem 0;
  height: 8rem;
  display: flex;
}
.services .exams, .services .fittings, .services .delivery {
  display: flex;
  flex-flow: column;
  line-height: 1.4;
  justify-content: space-between;
  text-align: center;
}
.services .exams img {
  width: 3.5rem;
  margin: 0 3rem;
}
.services .fittings img, .services .delivery img {
  width: 5rem;
  margin: 0 3rem;
}

/* about_us section */
.about_us {
  display: flex;
  width: 960px;
  justify-content: center;
}
h1 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
.philosophy, .appointments {
  width: 35%;
  margin: 0 2.5%;
  line-height: 1.4;
}

/* footer section */
footer {
  display: flex;
  width: 960px;
  background-color: azure;
  margin-top: 5rem;
  height: 9.5rem;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

/* media related changes */
@media only screen and (max-width: 470px) {

}
